/*administrador principal*/
body {
    background: var(--gris);
}

.informacion_usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 5rem 0;
}

.contenido_informacion {
    min-height: 50dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.contenedor_ITSH {
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: start;
    justify-content: start;
    align-self: flex-start;
    border-radius: 50%;
    float: right;
    shape-outside: circle();
}

.contenedor_ITSH img {
    min-width: 30rem;
}

.contenedor-datos {
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    width: 100%;
}

.contenedor-datos p {
    font-size: clamp(1.1rem, 4vw, 2.4rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.contenedor-datos strong {
    color: var(--vino);
    font-weight: 600;
    width: 20rem;
}

.contenedor-datos:last-child {
    gap: 5rem;
}

.btn_vino {
    background: var(--vino);
    color: var(--blanco);
    font-size: clamp(1.4rem, 3.5vw, 2.2rem);
    border: none;
    padding: 1.5rem 2.5rem;
    border-radius: 1.5rem;
    max-width: 50%;
    margin-top: 3rem;
    cursor: pointer;
}


/*FORMULARIO CAMBIAR CONTRASEÑA*/

.overlay_cambiar-contraseña {
    background: var(--overlay);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: grid;
    place-content: center;
}

.titulo {
    font-size: clamp(1.4rem, 4vw, 2rem);
    color: var(--blanco);
}

.formulario {
    border-radius: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    height: max(50rem, 30rem);
    width: min(40rem, 90dvh);
    background: var(--vino);
    position: relative;
}

.contenedor_input {
    position: relative;
    margin: 0 auto;
    height: fit-content;
}

.nombre_input {
    position: absolute;
    top: 2rem;
    left: 3rem;
    font-size: clamp(1.3rem, 4vw, 2.2rem);
    color: var(--blanco);
    padding: .5rem 2rem;
    border-radius: 2rem;
    transition: top .5s, left .5s, scale .5s;
}

.input_login {
    font-size: clamp(1.5rem, 4vw, 2.2rem);
    border-radius: 4rem;
    background: transparent;
    border: .2rem solid var(--blanco);
    padding: 2rem;
    min-width: 80%;
    color: var(--blanco);
}

.btn_login {
    padding: 1rem 3rem;
    background: var(--blanco);
    border-radius: 3rem;
    border: none;
    font-size: clamp(1.4rem, 4vw, 2.2rem);
    cursor: pointer;
}

.input_login:focus:placeholder-shown~.nombre_input,
.input_login:not(:placeholder-shown)~.nombre_input {
    top: -1.5rem;
    scale: .7;
    background: var(--blanco);
    color: var(--vino);
}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    max-width: 4rem;
    cursor: pointer;
}

.notificacion {
    background: var(--blanco);
    border-radius: 2rem;
    color: var(--negro);
    padding: 4rem;
    width: 35%;
    height: 60dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contenido_notificacion {
    font-size: clamp(1.4rem, 4vw, 3rem);
    font-weight: 900;
    text-align: center;
}

.btn_mensaje {
    padding: 1rem 2rem;
    font-size: clamp(1.6rem, 4vw, 2.4rem);
    font-weight: 700;
    border-radius: 2rem;
    background: var(--rojo);
    color: var(--blanco);
    border: none;
    cursor: pointer;
}



/*MODIFICACIONES DE LA PLANTILLA CAMBIAR CONTRASEÑA PARA ELIMINAR REGISTRO*/
.form_eliminar {
    justify-content: start;
    padding-top: 5rem;
    gap: 0;
}

.titulo_eliminar {
    margin-bottom: 3rem;
}

.btn_eliminar {
    background: var(--blanco);
    color: var(--negro);
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    font-size: clamp(1.4rem, 4vw, 2.2rem);
    cursor: pointer;
    position: absolute;
    bottom: max(6rem, 3rem);
}

#detalles_eliminar_error {
    color: var(--negro);
    font-size: clamp(1.8rem, 4vw, 3.5rem);
    font-weight: bold;
    max-width: 50%;
    text-align: center;
    margin-top: 3rem;
}

#close_eliminar_error {
    position: unset;
    background: var(--rojo);
    color: var(--blanco);
    padding: 1rem 2rem;
    font-size: clamp(1.4rem, 4vw, 2rem);
    width: fit-content;
    cursor: pointer;
    border-radius: 2rem;
    border: none;
}

/*ESTILOS DEL BUSCADOR DE REGISTROS DE ELIMINAR*/

#buscar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

#resultados {
    width: 92%;
    background: var(--vino);
    max-height: 40%;
    overflow-y: auto;
}

.result p,
.sin_resultados {
    background: var(--blanco);
    color: var(--vino);
    font-family: Manrope;
    align-content: center;
    z-index: 50;
    font-size: clamp(1.4rem, 4vw, 1.8rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    width: 100%;
    border: .1rem solid var(--vino);
    cursor: pointer;
    z-index: 90;
}

.container_result p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    width: 100%;
    height: 100%;
}

.input_buscar {
    background: var(--blanco);
    color: var(--vino);
    border: none;
    padding: 1rem 2rem;
    font-size: clamp(1.4rem, 4vw, 2.4rem);
    cursor: text;

}

/*PLANTILLA PARA ELIMINAR UN REGISTRO*/
.form_verificar_eliminar {
    background: var(--blanco);
    min-width: 50%;
    border-radius: 5rem;
}

.titulo_eliminar {
    font-size: clamp(1.4rem, 4vw, 2.2rem);
    color: var(--blanco);
    background: var(--vino);
    padding: 1rem 3.5rem;
    border-radius: 3rem;
    font-weight: bold;
}

.info_usuario_eliminar {
    font-size: clamp(1.4rem, 4vw, 2.4rem);
    color: var(--vino);
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 1rem;
    gap: 3rem;
}

.btn_ventana-eliminar {
    background: var(--vino);
    color: var(--blanco);
    font-weight: 900;
}

.close_eliminar {
    mix-blend-mode: difference;
    right: 5rem;
}


@media (max-width: 1000px) {
    .contenedor_ITSH {
        max-width: 5rem;
        position: absolute;
        display: grid;
        place-content: center;
    }

    .contenedor_ITSH img {
        min-width: 25rem;
        pointer-events: none;
        user-select: none;
        opacity: .3;
    }

    .contenido_informacion {
        width: 100%;
        padding: 1rem 0;
    }

    .contenedor-datos p {
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 1.5rem;
    }

    .contenedor-datos strong {
        flex: none;
        width: 30%;
    }

    .btn_vino {
        max-width: 60%;
    }

    .informacion_usuario {
        padding: 0;
    }
}