.contenido_configuracion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    gap: 1.5rem;
    margin: 0 auto ;
}

.btn_listar_usuarios{
    padding: 1rem 2rem;
    background: var(--vino);
    color: var(--blanco);
    font-size: clamp(1.4rem, 4vw, 2.2rem);
    cursor: pointer;
    border-radius: 1.5rem;
    align-self: flex-end;
}

.contenido_configuracion h2{
    font-size: clamp(1.4rem, 4vw, 2.2rem);
}

.contenedor_configuracion_carreras{
    width: 80%;
}

details{
    width: 100%;
    background-color: var(--vino);
    color: var(--blanco);
    border-radius: .5rem;
    cursor: pointer;
    font-size: clamp(1.4rem, 4vw, 1.8rem);
    font-family: 'Poppins';
    user-select: none;
    margin-bottom: 4rem;
}

details[open] summary{ 
    background-color: var(--blanco);
    color: var(--vino);
    border: .3rem solid var(--vino);
}

details[open] summary button{
    background: var(--vino);
    color: var(--blanco);
}

summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'poppins';
    padding: 1rem 1rem;
    border-radius: .5rem .5rem 0 0;
    border: .3rem solid transparent;

}

summary button{
    background-color: var(--blanco);
    color: var(--vino);
    padding: .5rem 1rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.contenido_carreras{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .8rem;
    padding: .5rem 1rem;
}

.contenido_carreras:hover{
    background-color: var(--blanco);
    color: var(--vino);
}

.contenido_carreras:hover .eliminar_carrera{
    filter: invert(0) brightness(1);
}

.eliminar_carrera{
    filter: invert(1) brightness(2);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

