.contenido_opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.contenedor_main {
    position: relative;
}

.contenedor_ITSH {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: .5;
}

.contenedor_ITSH img {
    width: clamp(20rem, 40vw, 50rem);
    opacity: 60%;
}

.sin_justificantes {
    font-size: clamp(1.5rem, 4vw, 2.4rem);
    color: var(--vino);
    text-align: center;
    font-weight: bold;
    margin-top: 2.5rem;
    z-index: 50;
}

.contenido_opciones button {
    background-color: var(--vino);
    color: var(--blanco);
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    font-size: clamp(1rem, 3.5vw, 1.8rem);
    cursor: pointer;
    font-weight: bold;
}


.contenido_opciones input {
    background-color: var(--vino);
    color: var(--blanco);
    padding: 1rem 2rem;
    font-size: clamp(1rem, 4vw, 1.8rem);
    cursor: pointer;
    width: clamp(200px, 30%, 300px);
}

.contenido_opciones input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

.contenido_historial {
    display: grid;
    gap: 2rem;
    max-width: 95%;
    margin: 0 auto;
    justify-content: center;
    z-index: 1000;
    margin-bottom: 4rem;
}

.contenido_historial:has(:nth-child(5)) {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.contenido_historial:has(:nth-child(1)),
.contenido_historial:has(:nth-child(2)),

.contenido_historial:has(:nth-child(3)),
.contenido_historial:has(:nth-child(4)) {

    grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
}


.archivo {
    background-color: var(--vino);
    color: var(--blanco);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.5rem;
    border: .2rem solid var(--vino);
    padding-bottom: 1.5rem;
    z-index: 10;

}

.archivo h2 {
    font-size: clamp(1.2rem, 4vw, 1.7rem);
    padding: 1rem 0;
    background: var(--blanco);
    color: var(--vino);
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-bottom: .5rem;
}

.archivo p {
    font-size: clamp(1rem, 4vw, 1.6rem);
    margin-bottom: 0.5rem;
}

.archivo span {
    font-size: clamp(0.8rem, 4vw, 1.3rem);
    margin-bottom: 0.5rem;
}

/*ESTILOS DE LA MODAL*/

.modal {
    background-color: var(--vino);
    color: var(--blanco);
    width: clamp(35rem, 10%, 50rem);
    border-radius: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.modal h2 {
    font-size: clamp(1.5rem, 4vw, 2.4rem);
    margin-bottom: 1rem;
}

.modal p {
    font-size: clamp(1rem, 4vw, 1.6rem);
    margin-bottom: 1rem;
    font-weight: bold;
}

.opciones_decision {

    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opciones_decision .btn_opcion {
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 4vw, 1.8rem);
    color: var(--blanco);
    border: none;
    width: clamp(8rem, 30%, 20rem);
}

.btn_opcion:first-child {
    background-color: var(--verde);
}

.btn_opcion:last-child {
    background-color: var(--rojo);
}

.btn_opcion:hover {
    cursor: pointer;
}

.modal span {
    font-size: clamp(0.8rem, 4vw, 1.3rem);
}

/*ESTILOS DE LA MODAL DE LA SOLICITUD EN LOS ALUMNOS*/
.datos_solicitud {
    background: var(--vino);
    color: var(--blanco);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    width: clamp(300px, 30vw, 400px);
    border-radius: 1.5rem;
    height: max(50%, 300px);
    position: relative;
}

.datos_solicitud h2 {
    font-size: clamp(1.5rem, 4vw, 2.4rem);
    text-align: center;
    margin-bottom: 1.8rem;
}

.datos_solicitud p {
    font-size: clamp(1rem, 4vw, 1.6rem);
    margin-bottom: 1.2rem;
}

.datos_solicitud a {
    color: var(--blanco);
    font-size: clamp(1rem, 4vw, 1.7rem);
    margin-top: 1rem;
    text-decoration: underline;
    padding: 1rem 2rem;
    background-color: var(--vino);
    transition: background-color .5s, color .5s;
    border-radius: 1.5rem;
}

.datos_solicitud a:hover {
    background-color: var(--blanco);
    color: var(--vino);
}

.datos_solicitud .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    max-width: 4rem;
}

.datos_justificante {
    background: var(--vino);
    color: var(--blanco);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 2rem;
    width: clamp(700px, 4vw, 300px);
    border-radius: 1.5rem;
    position: relative;
}

.titulo_justificante {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: clamp(1.5rem, 5vw, 2.3rem);
}


.datos_justificante p {
    margin-bottom: 1.2rem;
    font-size: clamp(1rem, 4vw, 2.2rem);
    display: flex;
}

.datos_justificante p span {
    flex: 2;
}

.datos_justificante p strong {
    flex: 1;
    text-align: start;
}

.datos_justificante a {
    color: var(--blanco);
    font-size: clamp(1rem, 4vw, 1.7rem);
    margin-top: 1rem;
    text-decoration: underline;
    padding: 1rem 2rem;
    background-color: var(--vino);
    transition: background-color .5s, color .5s;
    border-radius: 1.5rem;
    width: fit-content;
    margin: 0 auto;
}

.datos_justificante a:hover {
    background-color: var(--blanco);
    color: var(--vino);
}

.datos_justificante .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    max-width: 4rem;
}

.datos_justificante img {
    width: clamp(20rem, 40vw, 50rem);
}



@media screen and (max-width: 1000px) {
    .contenedor_ITSH {
        display: none;
    }
}

@media (max-width: 700px) {
    .contenido_historial:has(:nth-child(5)) {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }

    .contenido_historial:has(:nth-child(1)),
    .contenido_historial:has(:nth-child(2)),
    .contenido_historial:has(:nth-child(3)),
    .contenido_historial:has(:nth-child(4)) {

        grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
    }

    .contenido_historial {
        padding-bottom: 4rem;
    }
}


@media (max-width: 600px) {
    .contenido_opciones {
        gap: 2rem;
    }

    .btn_reiniciar {
        font-size: 1rem;
    }

    .contenido_historial {
        width: 95%;
        text-align: center;
    }

    input[type=search] {
        width: 50%;
    }

    .contenedor_logo {
        display: none;
    }
}