.overlay {
    background: var(--overlay);
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 2000;
}

.notificacion {
    background: var(--blanco);
    border-radius: 2rem;
    color: var(--negro);
    padding: 4rem;
    width: 40%;
    height: 70dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contenido_notificacion {
    font-size: clamp(2.5rem, 4vw, 3rem);
    font-weight: 900;
    text-align: center;
}

.btn_mensaje {
    padding: 1rem 2rem;
    font-size: clamp(1.6rem, 4vw, 2.4rem);
    font-weight: 700;
    border-radius: 2rem;
    background: var(--rojo);
    color: var(--blanco);
    border: none;
    cursor: pointer;
}

/*PLANTILLA PARA ELIMINAR UN REGISTRO*/
.form_verificar_eliminar {
    background: var(--blanco);
    width: fit-content;
    height: auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding: 4rem 0;
    padding-right: 15rem;
}

.informacion-usuario-eliminar {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titulo_eliminar-modal {
    font-size: clamp(1.4rem, 4vw, 2.2rem);
    color: var(--blanco);
    background: var(--vino);
    padding: 1rem 3.5rem;
    border-radius: 3rem;
    font-weight: bold;
}


.info_usuario_eliminar {
    font-size: clamp(1.4rem, 4vw, 2.4rem);
    color: var(--vino);
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.btn_ventana-eliminar {
    background: var(--vino);
    color: var(--blanco);
    font-weight: 900;
    position: absolute;
    bottom: 2rem;
    right: 3rem;
}

.close_eliminar {
    mix-blend-mode: difference;
    right: 5rem;
}


@media (max-width: 1000px) {
    .notificacion {
        width: 50%;
        height: 60dvh;
    }

    .notificacion img {
        max-width: 30%;
    }
}

@media (max-width: 500px) {
    .notificacion {
        width: 90%;
        height: 65dvh;
    }

    .notificacion img {
        max-width: 45%;
    }
}